<% if ministorages.length > 0 %>
<h1>ministorage 站點搜尋結果</h1>
      <% ministorages.each do |ministorage|%>
        <div class="searchShow">
          <%= link_to ministorage.name , ministorage_path(ministorage), { class: 'siteName', target: '_blank' }%>
            <h2 class="address"><%= ministorage.address %></h2>
            <h2 class="phone"><%= ministorage.phone %></h2>
        </div>
      <% end %>
<% else %>
<h1>ministorage 站點搜尋結果</h1>
  <!-- <h3>利用此條件 查無站點 請重新查詢</h3> -->
  <h3>條件：<%= @target_city_name if @target_city_name %>, <%= @target_district_name if @target_district_name %> 查無站點 請重新查詢</h3>
<% end %>