<div class="main">
  <section class="content">
    <nav>
      <%= link_to "服務介紹", intro_intros_path('ministorage_services') %>
      <%= link_to "站點查詢", ministorages_path, class: 'active'  %>
    </nav>
    <article>
      <p class="title-30n"><%= @ministorage.name %></p>
      地址：<%= @ministorage.address %><br>
      電話：<%= @ministorage.phone %><br>      
      <br>
      <%= @ministorage.parse_peditor %>
      <br>
      <% unless @ministorage.map_iframe.blank? %>
        <%= @ministorage.map_iframe.html_safe %>
      <% end %>
    </article>
  </section>
</div>
