<style>
.title-20b{margin-top:15px;}
.title-18n{margin-top:10px;}
</style>
<div class="main"  _height="auto">
  <section class="content">
    <nav>
      <%= link_to "服務介紹", intro_intros_path('ministorage_services') %>
      <%= link_to "站點查詢", ministorages_path, class: 'active'  %>
    </nav>
    <article>
      <p class="title-30n"><%= @ministorage.name %></p>
       <span class="title-20b">地址：</span><%= @ministorage.address %><br>
       <span class="title-20b">電話：</span><%= @ministorage.phone %><br>      
      <br>
      <%= @ministorage.parse_peditor %>
      <br>
      <% unless @ministorage.map_iframe.blank? %>
        <%= @ministorage.map_iframe.html_safe %>
      <% end %>
    </article>
  </section>
</div>
