<script src="/js/editor.js"></script>
<script src="/js/editor_p.js"></script>
<script src="/js/editor_img.js"></script>
<script src="/js/editor_list.js"></script>
<script src="/js/editor_video.js"></script>
<script src="/js/editor_anchor.js"></script>

<script src="/js/jquery.imgareaselect.pack.js"></script>
<script src="/js/AnchorArt.js"></script>

<link rel="stylesheet" type="text/css" href="/css/imgareaselect-default.css" />
<style type="text/css">
div[data-type="anchor"]{ visibility:hidden; height: 30px; }
</style>

<script>
$(function(){
  $(".right").height($(".left").height())
  var $win = $(window).scroll(function(){
    var win_scrollTop = $win.scrollTop();
    if(win_scrollTop >= 235 && win_scrollTop <= $("footer").offset().top - 500){
      $('#service .left').css({'position':'fixed',top:20,'margin-left':0});
    }
    else if(win_scrollTop < 235  ){
     $('#service .left').css({'position':'relative',top:0,'margin-left':0})
    }
    else{ 
      $('#service .left').attr("style", "").css({'position':'absolute',bottom:0,'margin-left':0});
    }
  }); 
});
</script>

<div id="banner" _height="none">
  <section class="content">
    <nav><a class="active"><img src="/images/sv-nav.png"></a></nav>
  </section>
</div>
<article _height="auto" id="service">
  <section class="content">
    <nav><a href="<%= root_url %>">首頁</a><span>></span><a href="<%= services_path %>">服務項目</a><span>></span><a><%= @service.title %></a></nav>
    <div class="inner">
      <div class="left">
        <h3><%= @service.title %>服務項目</h3>
        <ul>
        <% @service.items.each do | item | %>
        	<li><a href="#<%= item %>"><%= item %></a></li>
        <% end %>
        </ul>
      </div>
      <div class="right">
      <a href="<%= services_path %>"  class="back">回到上一層</a>
       <p id="articleContent"></p>
      </div>
    </div>
  </section>
</article>


<input id="article_content" style="display:none;" type="text" value="<%= @service.article.content %>">
<script>
	$(document).ready(function() {	
		editor.output();

    var hash = window.location.hash;
    hash = hash.slice(8,hash.length);
    
    var active_a = $("a[href='#"+ hash +"']");
    
    if(active_a.length){
      active_a.parents("li:first").addClass("active");
    }
    else{
      $(".left ul li:first").addClass("active");
    }

    $(".left ul li").click(function(){
      $(".left ul li.active").removeClass("active");
      $(this).addClass("active");
    });
  });
</script>