<script src="/js/editor.js"></script>
<script src="/js/editor_p.js"></script>
<script src="/js/editor_img.js"></script>
<script src="/js/editor_list.js"></script>
<script src="/js/editor_video.js"></script>
<script src="/js/editor_anchor.js"></script>

<script src="/js/jquery.imgareaselect.pack.js"></script>
<script src="/js/AnchorArt.js"></script>

<link rel="stylesheet" type="text/css" href="/css/imgareaselect-default.css" />
<style type="text/css">
div[data-type="anchor"]{ visibility:hidden; height: 30px; }
</style>

<script>
$(function(){
  // if($(".left").height() > $(".right").height()){
  //   $(".right").height($(".left").height());
  // }
  
  var $win = $(window).scroll(function(){
    var win_scrollTop = $win.scrollTop();
    if(win_scrollTop >= 235 && win_scrollTop <= $("footer").offset().top - 500){
      $('#service .left').css({'position':'fixed',top:20,'margin-left':0});
    }
    else if(win_scrollTop < 235  ){
     $('#service .left').css({'position':'relative',top:0,'margin-left':0})
    }
    else{ 
      $('#service .left').attr("style", "").css({'position':'absolute',bottom:0,'margin-left':0});
    }
  }); 
});
</script>

<div id="banner" _height="none">
  <section class="content">
    <nav><a class="active"><img src="/images/sv-nav.png"></a></nav>
  </section>
</div>
<article _height="auto" id="service">
  <section class="content">
    <nav><a href="<%= root_url %>">首頁</a><span>></span><a href="<%= services_path %>">服務項目</a><span>></span><a><%= @service.title %></a></nav>
    <div class="inner">
      <h3 class="visible-xs-block"><%= @service.title %>服務項目</h3>
      <div class="left">
        <h3><%= @service.title %>服務項目</h3>
        <ul>
        <% @service.items.each do | item | %>
        	<li><a href="<%= item %>"><%= item %></a></li>
        <% end %>
        </ul>
      </div>
      <div class="right">
      <a href="<%= services_path %>" class="back hidden-xs">回到上一層</a>
       <p id="articleContent"></p>
      </div>
    </div>
  </section>
</article>

<div id="subMenu2" class="visible-xs-block">
 <section class="content">
      <nav>
        <%= link_to '安全警衛', service_path(1), :class => ( 'active'  if params[ :id ] == '1') %>
        <%= link_to '設備維護', service_path(2), :class => ( 'active'  if params[ :id ] == '2') %>
        <%= link_to '行政庶務', service_path(3), :class => ( 'active'  if params[ :id ] == '3') %>
        <%= link_to '清潔美化', service_path(4), :class => ( 'active'  if params[ :id ] == '4') %>
        <%= link_to '叭叭房', service_path(5), :class => ( 'active'  if params[ :controller ] == 'babahomes') %>
        <%= link_to '迷你倉', service_path(6), :class => ( 'active'  if params[ :controller ] == 'ministorages') %>
      </nav>  
  </section>
</div>

<input id="article_content" style="display:none;" type="text" value="<%= @service.article.content %>">
<script>
	$(document).ready(function() {	
		editor.output();

    $(".left ul li a").each(function(){
      $(this).attr("href", "#"+escape($(this).attr("href")));
    });

    var hash = window.location.hash;
    hash = hash.slice(8,hash.length);
    
    var active_a = $("a[href='#"+ hash +"']");
    
    if(active_a.length){
      active_a.parents("li:first").addClass("active");
    }
    else{
      $(".left ul li:first").addClass("active");
    }

    $(".left ul li").click(function(){
      $(".left ul li.active").removeClass("active");
      $(this).addClass("active");
    });
  });
</script>

<script>
/* 防止 youtube 顯示最前*/
$(function(){
     $("iframe").each(function(){
      var ifr_source = $(this).attr('src');
      var wmode = "wmode=opaque";
      if(ifr_source.indexOf('?') != -1) $(this).attr('src',ifr_source+'&'+wmode);
      else $(this).attr('src',ifr_source+'?'+wmode);
     });
});
</script>