<script src="/js/editor.js"></script>
<script src="/js/editor_p.js"></script>
<script src="/js/editor_img.js"></script>
<script src="/js/editor_list.js"></script>
<script src="/js/editor_video.js"></script>


<div id="banner" _height="none">
  <section class="content">
    <nav><a class="active"><img src="/images/sv-nav.png"></a></nav>
  </section>
</div>
<article _height="auto" id="service">
  <section class="content">
    <nav><a href="<%= root_url %>">首頁</a><span>></span><a href="<%= services_path %>">服務項目</a><span>></span><a><%= @service.title %></a></nav>
    <div class="inner">
      <div class="left">
        <h3><%= @service.title %>服務項目</h3>
        <ul>
        <% @service.items.each_with_index do | item, index | %>
        	<li><%= index +1 %>. <%= item %></li>
        <% end %>
        </ul>
      </div>
      <div class="right">
      <a href="<%= services_path %>"  class="back">回到上一層</a>
       <p id="articleContent"></p>
      </div>
    </div>
  </section>
</article>


<input id="article_content" style="display:none;" type="text" value="<%= @service.article.content %>">
<script>
	$(document).ready(function() {	
		editor.output();	
	});
</script>