<div class="left">
        <h3>叭叭房</h3>
        <h4>台北</h4>
        <ul class="tab">          
          <li><a href="<%= page_pages_path( :page => 'babahome-1' ) %>">新光醫院</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-2' ) %>">美崙</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-3' ) %>">747車場</a></li>
          <br>
          <br>
          <li><a href="<%= page_pages_path( :page => 'babahome-4' ) %>">聖賢大樓</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-5' ) %>">大台北瓦斯</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-6' ) %>">曼哈頓</a></li>
          <br>
          <br>
          <li><a href="<%= page_pages_path( :page => 'babahome-7' ) %>">亞太A區</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-8' ) %>">陽光大樓</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-9' ) %>">亞太C區</a></li>
          <br>
          <br>
          <li><a href="<%= page_pages_path( :page => 'babahome-10' ) %>">內湖科技</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-11' ) %>">NASA</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-12' ) %>">西湖大樓</a></li>
          <br>
          <br>
          <li><a href="<%= page_pages_path( :page => 'babahome-13' ) %>">建北基地</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-14' ) %>">信義</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-15' ) %>">和平一</a></li>
          <br>
          <br>
          <li><a href="<%= page_pages_path( :page => 'babahome-16' ) %>">復興</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-17' ) %>">八德一</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-18' ) %>">長安</a></li>
          <br>
          <br>
          <li><a href="<%= page_pages_path( :page => 'babahome-19' ) %>">康樂</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-20' ) %>">水源</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-21' ) %>">八德二</a></li>
          <br>
          <br>
          <li><a href="<%= page_pages_path( :page => 'babahome-22' ) %>">潮州</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-23' ) %>">牯嶺</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-24' ) %>">麗山</a></li>
          <br>
          <br>
          <li><a href="<%= page_pages_path( :page => 'babahome-25' ) %>">和平二</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-26' ) %>">建南</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-32' ) %>">基河</a></li>        
        </ul>
        <h4>宜蘭</h4>
        <ul class="tab">
          <li><a href="<%= page_pages_path( :page => 'babahome-27' ) %>" style="width:100%">宜蘭中央</a></li>
        </ul>
        <h4>台中</h4>
        <ul class="tab">
          <li><a href="<%= page_pages_path( :page => 'babahome-28' ) %>" style="width:100%">新烏日</a></li>
        </ul>
        <h4>台南</h4>
        <ul class="tab">
          <li><a href="<%= page_pages_path( :page => 'babahome-29' ) %>">奇美永康</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-30' ) %>">奇美柳營</a></li>
        </ul>
        <h4>高雄</h4>
        <ul class="tab">
          <li><a href="<%= page_pages_path( :page => 'babahome-31' ) %>">高雄車站</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-33' ) %>">更新</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-34' ) %>">英明</a></li>
          <br>
          <br>
          <li><a href="<%= page_pages_path( :page => 'babahome-35' ) %>">龍華</a></li>
          <li><span>│</span></li>
          <li><a href="<%= page_pages_path( :page => 'babahome-36' ) %>">臥龍</a></li>
        </ul>
  </div>
      
<script>
	var pageNum = window.location.href.match(/\/\w+-(\d+)/)[1];

	if ( pageNum ) {
		$('a[href$=babahome-' + pageNum + ']').parent().addClass('active');
	}

</script>
      