<%= javascript_include_tag 'peditor' %>

<%= form_for([:admin, @service]) do |f| %>

    <section class="category">
      <ul>
        <li><a href="<%= regular_admin_service_path( @service ) %>">切換至文章</a></li>
        <li class="active"><a href="javascript:void(0);">切換至連結</a></li>
      </ul>
    </section>
    <!--category-->

    <section class="title">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th><%= @service.created_at.strftime('%Y-%m-%d') %></th>
          <td><%= f.text_field :title, :placeholder => '請輸入文章標題' %></td>
        </tr>
      </table>
    </section>
    <!--title-->
    <section class="hgroup">
      <h2>上傳封面</h2>      
    </section>
    <!--hgroup-->
    <section class="text text-edit">
      <div class="one">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>            
            <td><%= f.file_field :cover %></td>
          </tr>
        </table>
      </div>
    </section>
    <!--text--> 
    
    
    <section class="text text-edit">      
      <div class="one">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th valign="top">連結網址：<br></th>
            <td><%= f.text_field :external_link %></td>
          </tr>
        </table>
      </div>
    </section>
    
    
  <section class="button"> <a href="javascript: document.getElementsByTagName('form')[0].submit();"><img src="<%= image_path("save.png") %>">儲存</a> <a href="<%= admin_service_path(@service) %>"><img src="<%= image_path("cancel.png") %>">取消</a> </section>
    
  
<% end %>
