<script src="/js/editor.js"></script>
<script src="/js/editor_p.js"></script>
<script src="/js/editor_img.js"></script>
<script src="/js/editor_list.js"></script>
<script src="/js/editor_video.js"></script>
<script src="/js/jquery.imgareaselect.pack.js"></script>

<link rel="stylesheet" type="text/css" href="/css/imgareaselect-default.css" />

<%= form_for([:admin, @service]) do |f| %>

    <section class="category">
      <ul>
        <li class="active"><a  href="javascript:void(0);" >切換至文章</a></li>
        <li><a href="<%= external_admin_service_path( @service ) %>">切換至連結</a></li>
      </ul>
    </section>
    <!--category-->

    <section class="title">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th><%= @service.created_at.strftime('%Y-%m-%d') %></th>
          <td><%= f.text_field :title, :placeholder => '請輸入文章標題' %></td>
        </tr>
      </table>
    </section>
    <!--title-->
    <section class="hgroup">
      <h2>上傳封面</h2>      
    </section>
    <!--hgroup-->
    <section class="text text-edit">
      <div class="one">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>            
            <td><%= f.file_field :cover %></td>
          </tr>
        </table>
      </div>
    </section>
    <!--text--> 
    
    <section class="hgroup">
      <h2>左側列表</h2>
    </section>
    <!--hgroup-->
    
    <section class="post-list">
      <div id="post-list">
        <ul id="items-container">
    	<% @service.items.each do | item | %>        		
          <li>
            <input name="service[items][]" value="<%= item %>" type="text"/>
          </li>
    	<% end %>
    
    	<% i = 3 - @service.items.size %>
    	<% until i <=0 %>    		
          <li>
            <input name="service[items][]" type="text"/>
          </li>
    	<% i = i-1 %>
    	<% end %>
        </ul>
        <div class="addlist"><a id="addBtn" href="javascript: void(0);">增加</a> </div>
      </div>
    </section>
    <!--post-->
  
    <section class="hgroup">
      <h2>右側內文</h2>
    </section>
    <!--hgroup-->
    <%= render :partial => 'admin/peditor/editor' %>
  <section class="button"> <a href="javascript: document.getElementsByTagName('form')[0].submit();"><img src="<%= image_path("save.png") %>">儲存</a> <a href="<%= admin_service_path(@service) %>"><img src="<%= image_path("cancel.png") %>">取消</a> </section>
  
	<%= f.fields_for :article do | a | %>
	
		<%= a.hidden_field :content, {:id => 'service_content'} %>
	
	<% end %>


  
<% end %>

<script type="text/javascript">

$(document).ready(function(){
	editor.init({ articleModel: 'service', photoUpload: '../../peditor/<%= @service.article.id %>/createPhoto',p_selectList: [] });

	$('#addBtn').click(function() {
		$('#items-container').children('li').eq(0).clone().attr('id', '').appendTo('#items-container').children('input').val('');
	});

	$("#submit").click(function(e){
		e.preventDefault();

		if(!editor.isPostNotSent()){
			$("#edit_article_<%= @service.article.id %>").submit();
		}
		else{
			editor.alert("段落編輯尚未完成。", "error");
		}
		
		$('#articleContent').bind('peditor_updated', function() {
			$('#main').height('inherit')
		})
		
	});
});

</script>
