<%= javascript_include_tag 'editor' %>
<%= javascript_include_tag 'editor_p' %>
<%= javascript_include_tag 'editor_img' %>
<%= javascript_include_tag 'editor_list' %>
<%= javascript_include_tag 'editor_video' %>

 <section class="title">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th><%= @service.created_at.strftime('%Y-%m-%d')%></th>
      <td><%= @service.title %></td>
    </tr>
  </table>
</section>
<!--title-->    
<section class="hgroup">
  <h2>文章封面</h2>      
</section>
<!--hgroup-->
<section class="text text-show">  
  <div class="one">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>            
        <td><img src="<%= @service.cover %>" ></td>
      </tr>
    </table>
  </div>
</section>
<!--text-->
<section class="text text-show" id="articleContent">      
</section>
<!--text-->
    

<section class="text text-show">      
  <div class="three">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top">連結網址：</th>
        <td><%= @service.external_link %></td>
      </tr>
    </table>
  </div>
</section>

<section class="button"> <a href="<%= edit_admin_service_path(@service) %>"><img src="<%= image_path("edit.png") %>">編輯</a> <a href="<%= admin_services_path %>"><img src="<%= image_path("back.png") %>">返回</a> </section>
<!--button-->