<script src="/js/jquery.colorbox-min.js"></script>
<script src="/js/jquery.colorbox-zh-TW.js"></script>

<script src="/js/editor.js"></script>
<script src="/js/editor_p.js"></script>
<script src="/js/editor_img.js"></script>
<script src="/js/editor_list.js"></script>
<script src="/js/editor_video.js"></script>
<script src="/js/jquery.imgareaselect.min.js"></script>

<link rel="stylesheet" type="text/css" href="/css/imgareaselect-default.css" />
<link rel="stylesheet" type="text/css" href="/css/colorbox.css" />
  
  
  
<%= form_for([:admin, @news]) do |f| %>
    <section class="title">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th><%= @news.created_at.strftime('%Y-%m-%d') %></th>
          <td><%= f.text_field :title, :placeholder => '請輸入文章標題' %></td>
        </tr>
      </table>
    </section>
    <!--title-->
    <section class="hgroup">
      <h2>上傳封面</h2>      
    </section>
    <!--hgroup-->
    <section class="text text-edit">
      <div class="one">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>            
            <td><%= f.file_field :cover %></td>
          </tr>
        </table>
      </div>
    </section>
    <!--text--> 
  
    <div style="display:none">	    
	    <div id="previewContainer">
		    <h2>請在圖片上拖拉以完成您要的截圖範圍</h2>
	    </div>
    </div>
  
  
    <%= render :partial => 'admin/peditor/editor' %>
  <section class="button"> <a href="javascript: document.getElementsByTagName('form')[0].submit();"><img src="<%= image_path("save.png") %>">儲存</a> <a href="<%= admin_news_path(@news) %>"><img src="<%= image_path("cancel.png") %>">取消</a> </section>
  
	<%= fields_for @news.article do | a | %>
	
		<%= a.hidden_field :content, {:id => 'news_content'} %>
	
	<% end %>


  
<% end %>

<script type="text/javascript">

	var hold = false;
	
$(document).ready(function(){

	var originalClose = $.colorbox.close;
	$.colorbox.close = function(){
		if (hold) {			
		  if ( confirm( '確定放棄圖片裁切？這將會刪除您的圖片。' )) {
		  	hold = false;
		  	
		  	editor.img.reset();
		  	
		    originalClose();
		  } 
		} else {
			originalClose();
		}
	 }

	editor.init({ articleModel: 'news', photoUpload: '../../peditor/<%= @news.article.id %>/createPhoto',p_selectList: [] });

	$("#submit").click(function(e){
		e.preventDefault();

		if(!editor.isPostNotSent()){
			$("#edit_article_<%= @news.article.id %>").submit();
		}
		else{
			editor.alert("段落編輯尚未完成。", "error");
		}
		
		$('#articleContent').bind('peditor_updated', function() {
			$('#main').height('inherit')
		})
		
	});
});

</script>
