<%= javascript_include_tag 'editor' %>
<%= javascript_include_tag 'editor_p' %>
<%= javascript_include_tag 'editor_img' %>
<%= javascript_include_tag 'editor_list' %>
<%= javascript_include_tag 'editor_video' %>

<%= form_for([:admin, @news]) do |f| %>
    <section class="title">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th><%= @news.created_at.strftime('%Y-%m-%d') %></th>
          <td><%= f.text_field :title, :placeholder => '請輸入文章標題' %></td>
        </tr>
      </table>
    </section>
    <!--title-->
    <section class="hgroup">
      <h2>上傳封面</h2>      
    </section>
    <!--hgroup-->
    <section class="text text-edit">
      <div class="one">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>            
            <td><%= f.file_field :cover %></td>
          </tr>
        </table>
      </div>
    </section>
    <!--text--> 
  
    <%= render :partial => 'admin/peditor/editor' %>
  <section class="button"> <a href="javascript: document.getElementsByTagName('form')[0].submit();"><img src="<%= image_path("save.png") %>">儲存</a> <a href="<%= admin_news_path(@news) %>"><img src="<%= image_path("cancel.png") %>">取消</a> </section>
  
	<%= fields_for @news.article do | a | %>
	
		<%= a.hidden_field :content, {:id => 'news_content'} %>
	
	<% end %>


  
<% end %>

<script type="text/javascript">

$(document).ready(function(){
	editor.init({ articleModel: 'news', photoUpload: '../../peditor/<%= @news.article.id %>/createPhoto',p_selectList: [] });

	$("#submit").click(function(e){
		e.preventDefault();

		if(!editor.isPostNotSent()){
			$("#edit_article_<%= @news.article.id %>").submit();
		}
		else{
			editor.alert("段落編輯尚未完成。", "error");
		}
		
		$('#articleContent').bind('peditor_updated', function() {
			$('#main').height('inherit')
		})
		
	});
});

</script>
