<script src="/js/editor.js"></script>
<script src="/js/editor_p.js"></script>
<script src="/js/editor_img.js"></script>
<script src="/js/editor_list.js"></script>
<script src="/js/editor_video.js"></script>

 <section class="title">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th><%= @news.created_at.strftime('%Y-%m-%d')%></th>
      <td><%= @news.title %></td>
    </tr>
  </table>
</section>
<!--title-->    
<section class="hgroup">
  <h2>文章封面</h2>      
</section>
<!--hgroup-->
<section class="text text-show">  
  <div class="one">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>            
        <td><img src="<%= @news.cover %>" width="600" height="380"></td>
      </tr>
    </table>
  </div>
</section>
<!--text-->
<section class="hgroup">
  <h2>文章內文</h2>      
</section>
<!--hgroup-->
<section class="text text-show" id="articleContent">      
</section>
<!--text-->
<section class="button"> <a href="<%= edit_admin_news_path(@news) %>"><img src="<%= image_path("edit.png") %>">編輯</a> <a href="<%= admin_news_index_path %>"><img src="<%= image_path("back.png") %>">返回</a> </section>
<!--button-->
    

<input id="article_content" style="display:none;" type="text" value="<%= @news.article.content %>">
<script>
	$(document).ready(function() {	
		editor.output();	
	});
</script>
