<script src="/js/editor.js"></script>
<script src="/js/editor_p.js"></script>
<script src="/js/editor_img.js"></script>
<script src="/js/editor_list.js"></script>
<script src="/js/editor_video.js"></script>
<script src="/js/jquery.imgareaselect.pack.js"></script>

<link rel="stylesheet" type="text/css" href="/css/imgareaselect-default.css" />

<%= render :partial => 'layouts/intro_menu' %>

<article _height="auto" id="educate">
  <section class="content">
    <nav><a href="<%= root_url %>">首頁</a><span>></span><a>教育訓練</a></nav>
    <div class="inner">
      <div class="left">
        <ul>
        <% @instructions.each do | instruction | %>
        	<li <%= 'class="active"'.html_safe if instruction.id == @instruction.id %> >
            <span><%= instruction.created_at.strftime('%Y年%m月%d日') %></span><br>
            <a href="<%= instruction_path( instruction, :year => params[ :year ], :page => params[ :page ]) %>"><%= instruction.title %></a>
          </li>
        <% end %>
          
        </ul>
        <div class="page"> <%= paginate @instructions, :window => 2 %></div>
        <div class="years"> 
        	<a href="<%= instruction_path(@instruction, :page => params[ :page ] ) %>" <%= 'class="active"'.html_safe if params[ :year ].nil? %>>全部</a>
        <% @years.each do | year | %>
        	<a href="<%= instructions_path( :year => year, :page => params[ :page ] ) %>" <%= 'class="active"'.html_safe if year == params[ :year ] %>><%= year %> 年</a>
        <% end %>
        </div>
      </div>
      <div class="right">
        <header><span class="date"><%= @instruction.created_at.strftime('%Y年%m月%d日') %></span>
          <h3><%= @instruction.title %></h3>
        </header>        
        <article id="articleContent"></article>
      </div>
    </div>
  </section>
</article>

<div id="subMenu" class="visible-xs-block">
  <%= render :partial => 'layouts/intro_menu' %>
</div>

<input id="article_content" style="display:none;" type="text" value="<%= @instruction.article.content %>">

<script>
	$(document).ready(function() {	
		editor.output();
	});
</script>

<script>
/* 防止 youtube 顯示最前*/
$(function(){
     $("iframe").each(function(){
      var ifr_source = $(this).attr('src');
      var wmode = "wmode=opaque";
      if(ifr_source.indexOf('?') != -1) $(this).attr('src',ifr_source+'&'+wmode);
      else $(this).attr('src',ifr_source+'?'+wmode);
     });
});
</script>