<% if babahomes.length > 0 %>
	<table width="100%" cellpadding="0" cellspacing="0" class="bbh-result">
		<tr>
			<th>車場</th>
			<th>地址</th>
			<th>電話</th>
		</tr>
		<% babahomes.each do |babahome|%>
			<tr>
				<td><%= link_to babahome.name , babahome_path(babahome), { class: 'siteName' }%></td>
			    <td><%= babahome.address %></td>
			    <td><%= babahome.phone %></td>
			</tr>        
		<% end %>
	</table>      
<% else %>
	<!-- <h3>利用此條件 查無站點 請重新查詢</h3> -->
	<h3><%= @target_city_name if @target_city_name %> <%= @target_district_name if @target_district_name %> 查無站點 請重新查詢</h3>
<% end %>