<div class="main">
  <section class="content">
    <nav>
      <%= link_to "服務介紹", intro_intros_path('babahome_services') %>
      <%= link_to "站點查詢", babahomes_path, class: 'active' %>
      <%= link_to "信用卡優惠", intro_intros_path('babahome_cards') %>
    </nav>
    <article>
      <p class="title-30n"><%= @babahome.name %></p>
      地址：<%= @babahome.address %><br>
      電話：<%= @babahome.phone %><br>      
      <br>
      <%= @babahome.parse_peditor %>
      <br>
      <% unless @babahome.map_iframe.blank? %>
        <%= @babahome.map_iframe.html_safe %>
      <% end %>
    </article>
  </section>
</div>
