<style>
.title-20b{margin-top:15px;}
</style>
<div class="main"  _height="auto">
  <section class="content">
    <nav>
      <%= link_to "服務介紹", intro_intros_path('babahome_services') %>
      <%= link_to "站點查詢", babahomes_path, class: 'active' %>
      <%= link_to "信用卡優惠", intro_intros_path('babahome_cards') %>
    </nav>
    <article>
      <p class="title-30n"><%= @babahome.name %></p>
      <span class="title-20b">地址：</span><%= @babahome.address %><br>
      <span class="title-20b">電話：</span><%= @babahome.phone %><br>      
      <br>
      <%= @babahome.parse_peditor %>
      <br>
      <% unless @babahome.map_iframe.blank? %>
        <%= @babahome.map_iframe.html_safe %>
      <% end %>
    </article>
  </section>
</div>

<div id="subMenu2" class="visible-xs-block">
 <section class="content">
      <nav>
        <%= link_to '安全警衛', service_path(1) %>
        <%= link_to '設備維護', service_path(2) %>
        <%= link_to '行政庶務', service_path(3) %>
        <%= link_to '清潔美化', service_path(4) %>
        <%= link_to '叭叭房', service_path(5), :class => 'active' %>
        <%= link_to '迷你倉', service_path(6) %>
      </nav>  
  </section>
</div>

<script>
/* 防止 youtube 顯示最前*/
$(function(){
     $("iframe").each(function(){
      $(this).parent('div').addClass('video-container');
      var ifr_source = $(this).attr('src');
      var wmode = "wmode=opaque";
      if(ifr_source.indexOf('?') != -1) $(this).attr('src',ifr_source+'&'+wmode);
      else $(this).attr('src',ifr_source+'?'+wmode);
     });
});
</script>