<style>
.title-20b{margin-top:15px;}
</style>
<div class="main"  _height="auto">
  <section class="content">
    <nav>
      <%= link_to "服務介紹", intro_intros_path('babahome_services') %>
      <%= link_to "站點查詢", babahomes_path, class: 'active' %>
      <%= link_to "信用卡優惠", intro_intros_path('babahome_cards') %>
    </nav>
    <article>
      <p class="title-30n"><%= @babahome.name %></p>
      <span class="title-20b">地址：</span><%= @babahome.address %><br>
      <span class="title-20b">電話：</span><%= @babahome.phone %><br>      
      <br>
      <%= @babahome.parse_peditor %>
      <br>
      <% unless @babahome.map_iframe.blank? %>
        <%= @babahome.map_iframe.html_safe %>
      <% end %>
    </article>
  </section>
</div>
