<script src="/js/editor.js"></script>
<script src="/js/editor_p.js"></script>
<script src="/js/editor_img.js"></script>
<script src="/js/editor_list.js"></script>
<script src="/js/editor_video.js"></script>
<script src="/js/jquery.imgareaselect.pack.js"></script>

<link rel="stylesheet" type="text/css" href="/css/imgareaselect-default.css" />

<article _height="auto" id="news">
  <section class="content">
    <nav><a href="<%= root_url %>">首頁</a><span>></span><a>最新消息</a></nav>
    <div class="inner">
      <div class="left">
        <ul>
        <% @newses.each do | news | %>        	
          <li class="<%= 'active' if news.id == @news.id %>"> <span><%= news.created_at.strftime('%Y年%m月%d日') %></span><br>
            <a href="<%= news_path( news, :page => params[ :page ] ) %>"><%= news.title %></a></li>
        <% end %>
        </ul>
        <div class="page"> <%= paginate @newses, :window => 2 %> </div>        
      </div>
      <div class="right">
        <header><span class="date"><%= @news.created_at.strftime('%Y年%m月%d日') %></span>
          <h3><%= title @news.title %></h3>
        </header>        
        <%= image_tag(@news.cover) %>
        <% unless @news.cover.blank? %>
          <% set_meta_tags :og => { :image => @news.cover } %>          
        <% end %>
        <% unless @news.fb_meta_description.blank? %>
          <% set_meta_tags :og => { :description => @news.fb_meta_description } %>          
        <% end %>
        <article id="articleContent"></article>
      </div>
    </div>
  </section>
</article>


<input id="article_content" style="display:none;" type="text" value="<%= @news.article.content %>">
<script>
	$(document).ready(function() {	
		editor.output();	
	});
</script>