
<script src="/js/jquery.validate.js"></script>

<% if !flash[ :notice ].nil? %>
<script>
  alertify.alert('<%= flash[ :notice ] %>');
</script>
<% end %>


<% if !flash[ :warning ].nil? %>
<script>
  alertify.log('<%= flash[ :warning ] %>', 'error');
</script>
<% end %>

<%= form_for(@ticket) do |f| %>

<div id="banner" _height="none">
  <section class="content">
    <nav><a class="active"><img src="/images/fm-nav.png"></a></nav>
  </section>
</div>

<article _height="auto" id="form">
  <section class="content">
    <nav><a href="<%= root_url %>">首頁</a><span>></span><a>聯絡誼光</a></nav>
    <div class="inner">
      <p>您如有保全服務需要，誼光保全將會派遣專人與您聯繫，依照安全結構與需求進行安全規劃與費用估算。</p>
      <div id="form1">
        <div class="left">
          <h3>請填寫基本資料</h3>          
        </div>
        <div class="right">
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <th><%= f.label :name, '姓名' %></th>
              <td><%= f.text_field :name, :class => 'text' %></td>
            </tr>
            <tr>
              <th><%= f.label :company, '公司名稱' %></th>
              <td><%= f.text_field :company, :class => 'text' %></td>
            </tr>
            <tr>
              <th><%= f.label :phone, '連絡電話' %></th>
              <td>
                <%= f.text_field :phone_area, :class => 'text phone1' %><span class="phone4"> - </span><%= f.text_field :phone, :class => 'text phone2' %><span class="phone5"> 分機 </span><%= f.text_field :phone_ext, :class => 'text phone3' %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :mobile, '手機' %></th>
              <td><%= f.text_field :mobile, :class => 'text' %><em>電話/手機擇一填寫</em></td>
            </tr>
            <tr>
              <th><%= f.label :address, '服務地址' %></th>
              <td><%= f.text_field :address, :class => 'text' %></td>
            </tr>
            <tr>
              <th><%= f.label :email, 'Email' %></th>
              <td><%= f.text_field :email, :class => 'text' %></td>
            </tr>
          </table>
        </div>
      </div><!--overflow:hidden-->      
      <div id="form2">
        <div class="left">
          <h3>需求服務</h3>
        </div>
        <div class="right">
          <table border="0" cellspacing="0" cellpadding="0">        
            <tr>
             <% ['駐衛警', '大樓／社區保全與管理', '商場保全', '停車場管理', '迷你倉', '活動保全（如展覽、公共設施等）'].each do | service | %>
             <label>
              <input type="checkbox" class="checkbox" name="ticket[services][]" value="<%= service %>" />
              <%= service %>
             </label>
            <% end %>    
            <label id="else">
            其他　<input type="text" class="text" name="ticket[services][]" value="" />
            </label>
            <!--span>如需誼光家事服務，請至<a href="http://www.ykhome.com.tw/" target="_blank">誼光家事官網</a></span-->
          </tr>
          </table>
        </div>
      </div>
      <div id="form3">
        <div class="left">
          <h3>驗證碼</h3>
        </div>
        
        <div class="right">
          <table>
            <tr>
              <th></th>
              <td>
              <%= recaptcha_tags %></td>
            </tr>
        </table>
    		
		
        <%= f.submit '', :class => 'button', :value => '資料送出' %>
        
        
      </div>
    </div><!--overflow:hidden-->    
  </div>
</section>
</article>

<% end %>

<script>
  $(document).ready(function(){
	// validate signup form on keyup and submit
	$("#new_ticket").validate({
		rules: {
			'ticket[name]': "required",
			'ticket[phone]': {
				required: {
					depends: function() {					
						return $('input[name="ticket[mobile]"]').val().length <= 0;
					}
				}
			},
			'ticket[mobile]': {
				required: {
					depends: function() {					
						return $('input[name="ticket[phone]"]').val().length <= 0;
					}
				}
			}
			
		},
		messages: {
			'ticket[name]': "",
			'ticket[phone]': {
				required: ""
			},
			'ticket[mobile]': {
				required: ""
			}
		}
	});
	
});
</script>