
<section class="title">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th><%= @ticket.created_at.strftime('%Y-%m-%d') %></th>
      <td><%= @ticket.company %></td>
    </tr>
  </table>
</section>
<!--title--> 
<section class="text text-show"> 
  <div class="one">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top">姓名</th>
        <td><%= @ticket.name %></td>
      </tr>
    </table>
  </div>
  <div class="one">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top">電話</th>
        <td><%= @ticket.phone %></td>
      </tr>
    </table>
  </div>
  <div class="one">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top">Email</th>
        <td><%= @ticket.email %> &nbsp</td>
      </tr>
    </table>
  </div>
  <div class="one">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top">地址</th>
        <td><%= @ticket.address %></td>
      </tr>
    </table>
  </div>
  <div class="one">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top">需求</th>
        <td>
        	<ol style="list-style: inherit;">
        	<% @ticket.services.each do | service | %>
        		<li><%= service %></li>
        	<% end %>
        	</ol>
        </td>
      </tr>
    </table>
  </div>
</section>
<section class="button"> <a href="<%= admin_tickets_path %>"><img src="<%= image_path("back.png") %>">返回</a> </section>
