<!doctype html>
<html>
<head>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" href="css/desktop.css">
<![endif]-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<title>誼光保全後台管理系統</title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" media="screen and (max-width: 543px)" href="/css/mobile.css" />
	<link rel="stylesheet" media="screen and (min-width: 544px) and (max-width: 896px)" href="/css/tablet.css" />
	<link rel="stylesheet" media="screen and (min-width: 897px)" href="/css/desktop.css" />
	<link rel="stylesheet" href="/css/custom.css">
	<link rel="stylesheet" href="/css/alertify.css" />
	<link rel="stylesheet" href="/css/alertify.default.css"/>
  <%= csrf_meta_tags %>
  
  <%= javascript_include_tag 'application' %>
  
  <script src="/js/auto-full-height.min.js"></script>
  
  <script>
	  <% if !flash[:notice].nil? %>
	  window.onload= function() { alertify['success']('<%= flash[:notice] %>', 3000); }
	  <% end %>
	  
	  <% if !flash[:warning].nil? %>
	  window.onload= function() { alertify['error']("<%= flash[:warning].html_safe %>", 3000); }
	  <% end %>

  </script>

</head>

<body>
<header _height="none">
  <section id="top"> <a id="nav-ctrl"><img src="/images/nav.png"></a>
    <div class="left">
      <h1><a href="#">誼光保全後台管理系統</a></h1>
    </div>
    <!--left-->
    <aside> <a id="aside-ctrl"><img src="/images/set.png"></a>
      <div id="aside-box"> <a href="system-setting.html">修改個人資料</a> <a href="#">登出</a> <a href="http://www.summers.com.tw/">返回首頁</a> </div>
    </aside>
  </section>
  <!--top--> 
</header>

<section id="main" _height="auto" class="login-main">
  <section id="vert">
    <section class="login">
    
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><br />
  </div>
      <ul>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <th align="center"><%= f.label :email, '帳號' %></th>
              <td><%= f.email_field :email, :autofocus => true %></td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <th align="center"><%= f.label :email, '密碼' %></th>
              <td><%= f.password_field :password %></td>
            </tr>
          </table>
        </li>
      </ul>
      <section class="entrance button"> <a href="javascript: document.forms[0].submit();">登入</a> </section>
      <!--button--> 
<% end %>
    </section>
  </section>
  <!--vert--> 
</section>
<!--main-->

<footer _height="none"> Copyright © <a href="http://www.summers.com.tw/" target="_blank">Summers</a> </footer>
</body>
</html>

