<script src="/js/editor.js"></script>
<script src="/js/editor_p.js"></script>
<script src="/js/editor_img.js"></script>
<script src="/js/editor_list.js"></script>
<script src="/js/editor_video.js"></script>
<script src="/js/jquery.imgareaselect.pack.js"></script>

 <section class="title">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th><%= @knowledge.created_at.strftime('%Y-%m-%d')%></th>
      <td><%= @knowledge.title %></td>
    </tr>
  </table>
</section>
<!--title-->    
<section class="hgroup">
  <h2>文章內文</h2>      
</section>
<!--hgroup-->
<section class="text text-show" id="articleContent">      
</section>
<!--text-->
<section class="button"> <a href="<%= edit_admin_chapter_knowledge_path(@chapter, @knowledge) %>"><img src="<%= image_path("edit.png") %>">編輯</a> <a href="<%= admin_chapter_path(@chapter) %>"><img src="<%= image_path("back.png") %>">返回</a> </section>
<!--button-->
    

<input id="article_content" style="display:none;" type="text" value="<%= @knowledge.article.content %>">
<script>
	$(document).ready(function() {	
		editor.output();	
	});
</script>
