<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recruit.name %>
</p>

<p>
  <strong>Notice:</strong>
  <%= @recruit.notice_id %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @recruit.sex %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @recruit.birthday %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @recruit.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @recruit.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @recruit.email %>
</p>

<p>
  <strong>Educated:</strong>
  <%= @recruit.educated %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @recruit.experience %>
</p>

<p>
  <strong>Brief:</strong>
  <%= @recruit.brief %>
</p>

<p>
  <strong>Status:</strong>
  <%= @recruit.status %>
</p>

<p>
  <strong>Checked:</strong>
  <%= @recruit.checked %>
</p>

<%= link_to 'Edit', edit_recruit_path(@recruit) %> |
<%= link_to 'Back', recruits_path %>
