<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @prise.title %>
</p>

<p>
  <strong>Month:</strong>
  <%= @prise.month %>
</p>

<p>
  <strong>Status:</strong>
  <%= @prise.status %>
</p>

<%= link_to 'Edit', edit_prise_path(@prise) %> |
<%= link_to 'Back', prises_path %>
