<style>
.main ul{padding: 0 0 0 20px;font-size:16px;line-height:1.9em;}
</style>
<div class="main" _height="auto">

	<section class="content">

		<% if params[:page].in? ['babahome_services', 'babahome_cards'] %>
		<nav>
		  <%= link_to "服務介紹", intro_intros_path('babahome_services'), class: params[:page] == 'babahome_services'? 'active' : '' %>
		  <%= link_to "站點查詢", babahomes_path, class: controller_name == 'babahomes'? 'active' : '' %>
		  <%= link_to "信用卡優惠", intro_intros_path('babahome_cards'), class: params[:page] == 'babahome_cards'? 'active' : '' %>
		</nav>
		<% end %>

		<% if params[:page].in? ['ministorage_services'] %>
		<nav>
		  <%= link_to "服務介紹", intro_intros_path('ministorage_services'), class: params[:page] == 'ministorage_services'? 'active' : '' %>
		  <%= link_to "站點查詢", ministorages_path, class: controller_name == 'ministorages'? 'active' : '' %>
		</nav>
		<% end %>

		<article id="articleContent" itemscope itemtype='http://schema.org/Article' >
		  <%= @intro.parse_peditor %>
		</article>

	</section>

</div>

<div id="subMenu2" class="visible-xs-block">
 <section class="content">
      <nav>
        <%= link_to '安全警衛', service_path(1), :class => ( 'active'  if params[ :id ] == '1') %>
        <%= link_to '設備維護', service_path(2), :class => ( 'active'  if params[ :id ] == '2') %>
        <%= link_to '行政庶務', service_path(3), :class => ( 'active'  if params[ :id ] == '3') %>
        <%= link_to '清潔美化', service_path(4), :class => ( 'active'  if params[ :id ] == '4') %>
        <%= link_to '叭叭房', service_path(5), :class => ( 'active'  if params[ :controller ] == 'babahomes') %>
        <%= link_to '迷你倉', service_path(6), :class => ( 'active'  if params[ :controller ] == 'ministorages') %>
      </nav>  
  </section>
</div>

<script>
/* 防止 youtube 顯示最前*/
$(function(){
     $("iframe").each(function(){
      $(this).parent('div').addClass('video-container');
      var ifr_source = $(this).attr('src');
      var wmode = "wmode=opaque";
      if(ifr_source.indexOf('?') != -1) $(this).attr('src',ifr_source+'&'+wmode);
      else $(this).attr('src',ifr_source+'?'+wmode);
     });
});
</script>