<section class="hgroup">
  <h2>叭叭房-站點查詢</h2>
</section>
<!--hgroup-->
<section class="button"> 
  <%= link_to new_admin_babahome_path(), :method => :get,class: "right highlight"  do %>
    <img src="/images/add.png">新增站點
  <% end %>
</section>
<!--button-->
<section class="list">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th align="left" class="x0 x2">地區</th>
      <th align="left">站點</th>
      <th align="left" class="x0 x1">編輯</th>
      <th align="left" class="x1">刪除</th>
    </tr>
    <% @babahomes.each do |babahome| %>
      <tr>
        <td class="x0"><%= fetch_city_name(babahome.city) %></td>
        <td>
          <%= link_to admin_babahome_path(babahome) do %>
            <%= babahome.name %>
          <% end %>
        </td>
        <td class="x0">
          <%= link_to edit_admin_babahome_path(babahome) do %>
            <img src="/images/edit.png">
          <% end %>
        </td>
        <td>
          <%= link_to admin_babahome_path(babahome), :data => { :confirm => "將會刪除此車場，確定繼續？" }, :method => :delete, :class => "delete", title: "刪除" do %>
            <img src="/images/delete.png">
          <% end %>
        </td>
      </tr>
    <% end %>

  </table>
</section>
<!--list-->
<section class="page">
  <%= paginate @babahomes ,:window => 2 %>
</section>
<!--page--> 