<!doctype html>
<html>
<head>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<%= stylesheet_link_tag    "rwd/desktop", media: "screen and (min-width: 897px)", "data-turbolinks-track" => true %>
<![endif]-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<title>誼光保全後台管理系統</title>

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/default.css">

	
  <%= javascript_include_tag "application" %>
  
  
    
  <%= csrf_meta_tags %>
  
  <script>
  	window.onload= function() {
	  <% if !flash[:notice].nil? %>
	   alertify['success']('<%= flash[:notice] %>', 3000);
	  <% end %>
	  
	  <% if !flash[:warning].nil? %>
	  alertify['error']("<%= flash[:warning].html_safe %>", 3000); 
	  <% end %>

		$('a').click(function() {
			if( window.location.toString().match(/page=\d+/) ) { 
				document.cookie = ( 'last_page_num=' + window.location.toString().match(/page=\d+/)[0].split('=')[1] + ';' );

			}
		})
		
		$(window).bind('peditor-updated', function() {
			
			var main = $('section article');
			
			if ( (main.innerHeight() + 100) > $('[_height=auto]').height() ) {
				$('[_height=auto]').height('inherit');
			} else {
				fullHeight();
			}
			
		});
		
	}

  </script>

  <%= yield(:specific_js_head) %>
  
</head>

<body>
<header _height="none">
  <section id="top"> <a id="nav-ctrl"><img src="<%= image_path("nav.png") %>"></a>
    <div class="left">
       <h1><img src="/images/h1.png"></h1>
    </div>
    <!--left-->
    <aside> <a id="aside-ctrl"><img src="/images/set.png"></a>
      <div id="aside-box"> 
      <a href="<%= edit_admin_admin_path( current_admin ) %>"><img src="/images/profile-w.png">修改個人資料</a><%= link_to  destroy_admin_session_path, :method => :delete do %><img src="/images/logout-w.png">登出<% end %><a href="<%= root_url %>"><img src="/images/index-w.png">返回首頁</a></div>
    </aside>
  </section>
  <!--top--> 
</header>
<section id="main" _height="auto">
  <%= render :partial => 'layouts/menu' %>
  <article>    
	  <%= yield %>
  </article>
</section>
<!--main-->

<footer _height="none"> Copyright © <a href="http://www.summers.com.tw/" target="_blank">Summers</a> </footer>
</body>
</html>